$alturaBarras : 10vh;
$alturaControls:15%;
section{
    height: 100vh-($alturaBarras*2);
    display: flex;
    flex-wrap: wrap;
}
header{
    border:thin solid red;
    height: $alturaBarras;
}
.viewer{
    border:thin solid green;
    width: 75%;
    display: flex;
    flex-direction: column;
    & .controls{
        border:thin solid yellow;
        height:$alturaControls;
    }
    & video,img{
        height: 100%-$alturaControls;
    }
}
.playList{
    border:thin solid violet;
    width: 25%;
    height: 100%;
}

footer{
    border: thin solid blue;
    height: $alturaBarras;
}