$alturaBarras : 10vh;
$alturaControls:15%;
$responsive:700px;
section{
    height: 100vh-($alturaBarras*2);
    display: flex;
    flex-wrap: wrap;
}
header{
    height: $alturaBarras;
}
.viewer{
    width: 75%;
    display: flex;
    flex-direction: column;
    & .controls{
        height:$alturaControls;
        @media screen and (max-width:$responsive){
            height: 30%;
        }
    }
    & video,img{
        height: 100%-$alturaControls;
    }
    @media screen and (max-width:$responsive){
        position: relative;
        width: 95%;
    }
}
.playList{
    width: 25%;
    border: thin  solid;
    height: 100%;
    @media screen and (max-width:$responsive){
        width: 0;
        overflow: hidden;
        position: absolute;
        transition: 1s;
        right: 0;   
        background-color:rgba(255, 255, 255, 0.8); 
        border:none;    
    }
}

footer{
    height: $alturaBarras;
}

.togglePlayList{
    display: none;
    @media screen and (max-width:$responsive){
        display: block;
        text-align: center;
        cursor: pointer;
        width: 5%;
    }
}

.showPlayList{
    width: 100%;
}